<div>
  <div>
    <h1>
      Item #<%= @the_item.name %> details
    </h1>

    <div>
      <div>
        <a href="/items">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_item/<%= @the_item.id %>">
          Delete item
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_item.name %>
      </dd>

      <dt>
        Purchase date
      </dt>
      <dd>
        <%= @the_item.purchase_date %>
      </dd>

      <dt>
        Expiration date
      </dt>
      <dd>
        <%= @the_item.expiration_date %>
      </dd>

      <dt>
        Quantity
      </dt>
      <dd>
        <%= @the_item.quantity %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_item.description %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @the_item.image %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @the_item.location %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
        <%= @the_item.category %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_item.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_item.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit item
    </h2>

    <form action="/modify_item/<%= @the_item.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_item.name %>">
      </div>

      <div>
        <label for="purchase_date_box">
          Purchase date
        </label>

        <input type="date" id="purchase_date_box" name="query_purchase_date" value="<%= @the_item.purchase_date %>">
      </div>

      <div>
        <label for="expiration_date_box">
          Expiration date
        </label>

        <input type="date" id="expiration_date_box" name="query_expiration_date" value="<%= @the_item.expiration_date %>">
      </div>

      <div>
        <label for="quantity_box">
          Quantity
        </label>

        <input type="text" id="quantity_box" name="query_quantity" value="<%= @the_item.quantity %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description"><%= @the_item.description %></textarea>
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_item.image %>">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location" value="<%= @the_item.location %>">
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <input type="text" id="category_id_box" name="query_category" value="<%= @the_item.category%>">
      </div>

      <button>
        Update item
      </button>
    </form>
  </div>
</div>

<hr>

<%#
This is a
multi-line comment
in an HTML/ERB file
%>

<%#the_name = params.fetch("query_name")
    matching_items= Item.where({:name=> the_name})
    @an_item = matching_items.all
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Purchase date
        </th>

        <th>
          Expiration date
        </th>

        <th>
          Quantity
        </th>

        <th>
          Description
        </th>

        <th>
          Image
        </th>

        <th>
          Location
        </th>

        <th>
          Category
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>Details
        </th>
      </tr>
      
      <!--% @the_item.each do |an_item| %-->
      <tr-->
        <td>
          <%= @an_item.id %>
        <!--/td>

        <td>
          <%= @an_item.name %>
        </td>

        <td>
          <%= @an_item.purchase_date %>
        </td>

        <td>
          <%= @an_item.expiration_date %>
        </td>

        <td>
          <%= @an_item.quantity %>
        </td>

        <td>
          <%= @an_item.description %>
        </td>

        <td>
          <%= @an_item.image %>
        </td>

        <td>
          <%= @an_item.location %>
        </td>

        <td>
          <%= @an_item.category %>
        </td>

        <td>
          <%= time_ago_in_words(@an_item.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(@an_item.updated_at) %> ago
        </td>

        <td>
          <a href="/items/<%= @an_item.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr-->
